body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgb(29, 161, 242);
  height: 200px;
  max-height: 200px;
  position: sticky;
  top: 0;
}

.cloud-images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.input-search {
  display: flex;
  border-radius: 10px;
  height: 50px;
}

.input-search > input {
  width: 300px;
  border: none;
  height: 80%;
  border-radius: 10px 0 0 10px;
  padding: 0;
  padding-left: 5px;
  font-size: 14px;
  height: 100%;
}

.input-search > input:focus {
  outline: none;
}

.input-search > button {
  height: 100%;
  border: none;
  border-radius: 0 9px 9px 0;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  border-left: 2px solid rgb(19, 161, 242);
  color: rgb(29, 161, 242);
  cursor: pointer;
}

.input-search > button:focus {
  outline: none;
}

.image-wordcloud {
  height: 400px;
  width: 400px;
}

.loader-on {
  display: block;
}

.loader-off {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wordcloud-result-image {
  margin: 10px 1% 20px;
  height: auto;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.loader-backdrop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-image {
  font-size: 16px;
  text-transform: uppercase;
}
